.footer-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #333;
    z-index: 1;
  }
  
  .footer-container .social-icon {
    margin: 0 10px;
  }
  
  .footer-container .social-icon svg {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-container .social-icon:hover svg {
    transform: scale(1.1);
    fill: #1da1f2;
  }  